
target/
!.mvn/wrapper/maven-wrapper.jar
**/dependency-reduced-pom.xml
.mvn/timing.properties
.mvn/wrapper/
*.log
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
.DS_Store
Thumbs.db
.sonar/
scannerwork/
*.class
*.jar
*.war
*.ear
*.png
ehthumbs.db
Desktop.ini
*.bak
*.tmp
*.old
jmeter/bin/report-output/
*.Identifier
sonar-project.properties
.scannerwork/